*.pdf
*.o
*vgcore*
*/tags
detab/detab
forkit-tryit/forkit
forkit-tryit/tryit
fw/fw
huffman/hencode
huffman/hdecode
mush/mush2
mypwd/mypwd
mytalk/mytalk
mytar/mytar
timeit/timeit
uniq/uniq
.ccls-cache
